/*profile stuff*/
.App {
  max-height: 100dvh;
  overflow: hidden;
}

#profile-leftSideBar {
  background-color: lightgrey;
  padding: 1em;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-sidebarItem {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  align-items: center;
  border-radius: 5px;
  padding: 0.5em;
}
.profile-sidebarItem:hover {
  background-color: gray;
}

.profile-Option {
  margin-left: 0.5em;
}
#profile-userImagePanel {
  padding-top: 1em;
  padding-bottom: 1em;
}
#profile-userImageBox {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
#profile-userImage {
  width: 200px;
  aspect-ratio: 1/1;
}
.profile-inputBox {
  display: flex;
  align-items: center;
}
.profile-svgBox {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.profile-svgBox:hover {
  background-color: lightgray;
}

input {
  border: none;
  padding: 0.5em 0 0.5em 0;
  width: 30%;
}
input:focus {
  border-top: none;
  outline: none;
  border-bottom: green 1pt solid;
  box-shadow: gray 0 0 10px;
  border-radius: 5px;
}
