html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
}

.chat-area-main-con {
  height: 100%;
  background-color: rgb(219, 236, 220);
}

.chat-area-header-details {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid grey;
  height: 4rem;
  width: 100%;
  display: flex;

}

.chat-area-profile-picture {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

.chat-area-card {
  cursor: pointer;
  /*profile stuff*/
}

.App {
  max-height: 100vh;
  overflow: hidden;
}

.chat-area-text-box {
  width: 100%;
  height: 5rem;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
}

.chat-area-btn-con {
  display: flex;
  position: absolute;
}

.chat-area-send-btn {
  height: 2rem;
  width: 2rem;
}

.chat-area-bubble {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 3rem;
  height: fit-content;
  max-width: 14rem;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 0.75rem;
  background-color: rgb(255, 255, 255);

}

.chat-area-bubble p {
  margin: 0;
}

.chat-area-chat-display {
  max-height: 90%;
  overflow-y: scroll;
}

#profile-leftSideBar {
  background-color: rgb(240, 239, 239);
  padding: 1em;
  height: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  border-right: lightgray 1pt solid;
  text-align: center;
  /* height: 25vh; */
}

.profile-sidebarItem {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  align-items: center;
  border-radius: 5px;
  padding: 0.5em;
}

.profile-sidebarItem:hover {
  background-color: rgb(224, 224, 224);
}

.selected {
  border-left: green 2px solid;
  background-color: rgb(224, 224, 224);
}

.profile-Option {
  margin-left: 0.5em;
}

#profile-userImagePanel {
  padding-top: 1em;
  padding-bottom: 1em;
}

#profile-userImageBox {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

#profile-photoCover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  opacity: 0;
}

#profile-photoCover:hover {
  opacity: 100;
}

#profile-userImage {
  width: 200px;
  aspect-ratio: 1/1;
}

.profile-inputBox {
  display: flex;
  align-items: center;
  position: relative;
}

.profile-inputBox p {
  width: 30%;
}

.profile-svgBox {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.profile-svgBox:hover {
  background-color: rgb(224, 224, 224);
}

input {
  border: none;
  padding: 0.5em 0 0.5em 0;
  width: 40%;
}

input:focus {
  border-top: none;
  outline: none;
  border-bottom: green 1pt solid;
  box-shadow: gray 0 0 10px;
  border-radius: 5px;
}

.user-profile-pic{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.user-profile-pic:hover{

}

.user-modal{
  
}